.whiteInput {
    height: 211px;
    width: 296px;
    padding: 15px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.whiteInput::-webkit-input-placeholder {
    width: 180px;
    color: #888888;
    position: absolute;
}

.yellowInput {
    height: 211px;
    width: 296px;
    margin: 0 auto;
    border: none;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #FdF9F0;
}
.yellowInput::-webkit-input-placeholder {
    width: 180px;
    color: #888888;
    position: absolute;
}