
.recentSearchWords{
    display: inline-block;
    padding-left: 26px;
    /*height: 100vh;*/ 
    background-color: #FFFFFF;

}

.autoCompleteWords{
    display: inline-block;
    padding-left: 26px;
    /*height: 100vh;*/ 
    background-color: #FFFFFF;

}