.buttonContainer{
    float: left;
    width: 148px;
    height: 33x;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: #fff;
}

.clickedButtonContainer{
    float: left;
    width: 148px;
    height: 33x;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: #fff;
    border: none;
    border-bottom: 2.5px solid #212121;
}